/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.mainGrid {
  padding: 40px 50px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  font-size: 1.8rem;
  text-align: center;
}

.gridItem > p {
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color:rgb(245, 241, 241);
  box-shadow: 3px 2px 2px rgb(105, 98, 98);
  padding: 3px;
  position: sticky;
  top: 0px;
}

.linkWrapper>a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 10%;
  color: rgb(0, 0, 0, .88);
  display: inline-block;
  padding: 20px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

img {
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  height: auto;
}



.headerName{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  padding: 10px;
  color: rgb(0, 0, 0, .88);
}
.headerTitle {
  font-size: 0.85rem;
  color: rgb(0, 0, 0, .60);
}


.gridItem {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  padding: 20px;
  background-color: rgba(201, 201, 201, 0.2);
  color:rgb(0, 0, 0);
  box-shadow: 3px 2px 2px rgb(105, 98, 98);
  height: auto;
}

.cardTitle {
  padding-top: 20px;
}
.cardDescription {
  padding-top: 10px;
  font-size: .9rem;
}

.aboutMe {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 10%;
  color: rgb(0, 0, 0, .88);
}


@media only screen and (max-width: 500px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }

  .headerName{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    text-align: left;
    padding: 10px;
    color: rgb(0, 0, 0, .88);
  }
  .headerTitle {
    font-size: 0.6rem;
    color: rgb(0, 0, 0, .60);
  }
  .linkWrapper>a {
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    text-align: center;
    color: rgb(0, 0, 0, .88);
    display: inline-block;
    padding: 15px;
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(245, 241, 241);
    box-shadow: 3px 2px 2px rgb(105, 98, 98);
    padding: 3px;
    position: sticky;
    top: 0px;
  }
}